.footer__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer__input--tetx {
    width: 230px;
    height: 40px;
    border: solid 1px #e5e5e5;
    margin: 0;
  }