.page-header__subtitle {
    margin: 0 auto;
    width: 780px;
    color: #ffffff;
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 120px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }