.page-header__subtitle {
    margin: 0 auto;
    width: 780px;
    color: $header-color-font;
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 120px;
    font-family: $main-font-stack;
    font-weight: 700;
  }