.page-header__button {
    display: block;
    width: 160px;
    height: 40px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    text-transform: uppercase;
    &:hover {
        border: none;
        background-color: teal;
        box-shadow: 2px 2px 3px 4px #fff;
    }
  }
  