.page-header__item--btn {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/menu-icon/icon1.png);
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media (min-resolution: 192dpi 2dppx) {
    .page-header__item--btn {
      background-image: url(../images/menu-icon/icon1@2x.png);
    }
  }
}

.page-header__item--btn--icon2 {
  background-image: url(../images/menu-icon/icon2.png);
  @media (min-resolution: 192dpi 2dppx) {
    .page-header__item--btn--icon2 {
      background-image: url(../images/menu-icon/icon2@2x.png);
    }
  }
}
