.services__title {
    font-size: 14px;
    font-family: $main-font-stack;
    font-weight: 400;
    margin: 0;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: $main-color-font;
  }