.team__text {
    width: 980px;
    margin: 0 auto;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #b6b6b6;
    margin-top: -15px;
    margin-bottom: 90px;
  }