.team__text {
  width: 980px;
  margin: 0 auto;
  font-size: 15px;
  font-family: $auxiliary-font-stack;
  font-size: 15px;
  font-weight: 400;
  color: $secondary-color-font;
  margin-top: -15px;
  margin-bottom: 90px;
}
