
/* MEDIA */
@media (min-resolution: 192dpi 2dppx) {
  .page-header__item--btn {
    background-image: url(../img/menu-icon/icon1@2x.png);
  }
  .page-header__item--btn--icon2 {
    background-image: url(../img/menu-icon/icon2@2x.png);
  }

  .services-icon1::before {
    background-image: url(../img/services/icon1@2x.png);
  }
  .services-icon2::before {
    background-image: url(../img/services/icon2@2x.png);
  }
  .services-icon3::before {
    background-image: url(../img/services/icon3@2x.png);
  }
  .services-icon4::before {
    background-image: url(../img/services/icon4@2x.png);
  }
  .services-icon5::before {
    background-image: url(../img/services/icon5@2x.png);
  }
  .services-icon6::before {
    background-image: url(../img/services/icon6@2x.png);
  }
}
