$main-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Kaushan Script', cursive;
$auxiliary-font-stack: "Roboto", sans-serif;

$header-color-font: #fff;
$main-color-font: #333;
$secondary-color-font: #b6b6b6;

